.header
	.symbol #{symbol}
	.name(title=name) #{name}
	.close X
.body
	price = (currentPrice*1).toFixed(2)
	percent = (percentage*1).toFixed(2)
	if openingPrice == "N/A"
		.loading Invalid name
	else if currentPrice > 0
		.price #{price}
		if percentage > 0
			.percentage.positive +#{percent}%
		else
			.percentage.negative #{percent}% 
	else
		.loading Loading...
		.percentage